RFC9554/RFC9555 supports

Dear @psi-im team, @psi-plus team, @Ri0n, @Vitozz, @tehnick,

Can you add the RFC 9554/RFC 9555 supports to have better vCards:
- https://datatracker.ietf.org/doc/html/rfc9554
- https://datatracker.ietf.org/doc/html/rfc9555

New Properties:
- https://datatracker.ietf.org/doc/html/rfc9554#name-new-properties

It updates RFC 6350: vCard Format Specification:
- https://datatracker.ietf.org/doc/html/rfc6350

Thanks in advance.

cc: @stokito (a recent contributor).